* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fdedee;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  position:absolute;
  height: 43px;
  width: 83px;
  top: 50px;
  left: 50px;
}

.box-login {
  background-color: #fff;
  height: 460px;
  width: 500px;
  border-radius: 8px;
  text-align: center;
  margin: 60px 50px 50px 720px;
}

h1{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color:#414143;
  margin: 60px 0px 0px 0px;
  word-spacing: 0px;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  color:#717171;
  text-align: center;
  margin-top: 15px;
}

.facebook{
  background-color: #3b5998;
  border: none;
  height: 50px;
  width: 380px;
  border-radius: 4px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: 3px;
  color: white;
  margin-top: 40px;
}

.google{
  background-color: #fff;
  height: 40px;
  width: 370px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-left: 3px;
  margin-top: 7.5px;
}

.celular{
  background-color: #fff;
  height: 50px;
  width: 160px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: 5px;
  color: #a6a6a6;
  margin-top: 25px;
}

.email{
  background-color: #fff;
  height: 50px;
  width: 160px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: 13px;
  color: #a6a6a6;
  margin-top: 25px;
}